// Global color for body
$body-bg: #f5f5f5;
$selection-color: #043564;
$text-color: #043564;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097d1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Navbar
$navbar-default-bg: #fff;

// buttons
$btn-default-color: $text-color;

// Inputs
$input-border: $text-color;
$input-border-focus: $text-color;
$input-color-placeholder: $text-color;

// Panels
$panel-default-heading-bg: #ffffff;

// Heading
$heading-color: #333f52;

// Colors
$lighter-blue: #ccd4ed;
$light-blue: #3a7ac3;
$blue: #043564;
$yellow: #fdc228;
