// Global fonts for <body>
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;

// Jumbotrons
$positioned-p-font-size: 16px;

// Forms
$help-block-font-size: 12px;

// Dashboard
$user-details-font-size: 16px;
$document-list-font-size: 16px;
$document-list-font-size-mobile: 14px;

// Jumbotrons:
$header-heading-font-size: 36px;
$header-text-font-size: 16px;

// Panels
$panel-login-title-font-weight: 700;

// Icons
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// Font weights
$light: 300;
$bold: 700;
